body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  background-color: #3F0082;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  width: 90%;
  margin: 20px 0;
  margin-right: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  font-size: 14px;
}

th {
  background-color: #3F0082;
  color: white;
}

.emergency, .alert, .normal, .waiting, .done, .aes-disabled, .active {
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.emergency {
  background-color: #ff3333;
  color: white;
}

.alert {
  background-color: #ffcc00;
}

.normal, .done {
  background-color: #f9f9f9;
}

.waiting {
  background-color: #ffcc00;
}

.aes-disabled {
  background-color: #ff3333;
  color: white;
}

.active {
  background-color: #33cc33;
  color: white;
}

footer {
  background-color: #3F0082;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  margin-top: auto;
}

@media (max-width: 768px) {
  .container {
      width: 100%;
      margin-right: 0;
  }
}